# Ignore virtual environment
venv/
.env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Environment files
.env
*.env
